.todo {
  &__header {
    height: 5rem;
    background: #e6e6e6e6;
    position: relative;
    margin-bottom: 2rem;
  }

  &__radio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90vw;
  }

  &__category {
    & .ant-radio-button-wrapper:not(:first-child)::before {
      height: 3rem;
    }
    & .ant-radio-group-large .ant-radio-button-wrapper {
      height: 0;
    }
    .ant-radio-button-wrapper {
      color: #4d4d4d;

      &:hover {
        color: #ec1a65;
      }
    }

    .ant-radio-button-wrapper-checked {
      color: #ec1a65;
    }

    .ant-radio-button-wrapper,
    .ant-radio-button-wrapper-checked {
      background-color: transparent;
      border-color: transparent;
      outline-color: transparent;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: transparent;
      outline-color: transparent;
      color: #ec1a65;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
      border-color: transparent;
      outline-color: transparent;
    }

    &
      .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
      border-right-color: transparent;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
      -webkit-box-shadow: transparent;
      box-shadow: none;
      border-color: transparent;
    }

    & .ant-radio-button-wrapper:focus-within {
      box-shadow: none;
      border-color: transparent;
    }

    & .ant-radio-button-wrapper:first-child {
      border-left: none;
      border-radius: 0;
      padding-right: 3rem;
    }

    & .ant-radio-group:not(:first) {
      padding: 20rem;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      border-color: transparent;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
      border-color: transparent;
      color: #ec1a65;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
      background-color: #d9d9d9;
    }

    &
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
      background-color: #d9d9d9;
    }

    & .ant-radio-button-wrapper:not(:first-child) {
      padding: 0 3rem;
    }
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;

    .ant-divider-horizontal {
      margin: 0.6rem 0;
    }

    &-tabs {
      & .ant-tabs .ant-tabs-top {
        justify-content: center;
      }
      & .ant-tabs-top > .ant-tabs-nav::before {
        // content: none;
      }

      & .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 2rem;
        & .ant-tabs-ink-bar {
          display: none;
        }
      }

      & .ant-tabs-nav-wrap {
        justify-content: center;
      }
      & .ant-tabs > .ant-tabs-nav .ant-tabs-nav-operations {
        display: none;
      }

      & .ant-tabs-nav-list {
        width: 90vw;
        justify-content: space-between;

        & .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
          color: #ec1a65;
          transform: translateY(-0.3rem);
          text-shadow: 0 1rem 2rem rgba(190, 2, 96, 0.9);
        }
        & .ant-tabs-tab-btn {
          &:focus {
            color: #ec1a65;
          }
        }

        & .ant-tabs-tab {
          color: #4d4d4d;
          font-size: 2rem;
          margin: 0;
          padding: 1rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: #ec1a65;
            transform: translateY(-0.3rem);
            text-shadow: 0 1rem 2rem rgba(190, 2, 96, 0.8);
          }
        }
      }

      & .ant-checkbox-inner {
        width: 2rem;
        height: 2rem;
        border: 1px solid #6443f0;
        &::after {
          top: 45%;
          left: 30%;
          width: 0.56rem;
          height: 1.1rem;
        }
      }

      & .ant-checkbox-checked {
        &::after {
          border: 1px solid #6443f0;
        }
        & .ant-checkbox-inner {
          background-color: #6443f0;
          border-color: #6443f0;
        }
      }

      & .ant-checkbox-wrapper:hover .ant-checkbox-inner,
      .ant-checkbox:hover .ant-checkbox-inner,
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        border-color: #6443f0;
      }
      & .ant-btn {
        & .anticon {
          font-size: 2rem;
        }
      }

      & .ant-tabs-content-holder {
        overflow: scroll;
        height: 30rem;
      }
    }

    & .ant-list {
      & .ant-list-items {
        padding: 0 0.6rem 3rem 0.6rem;
        & .ant-list-item {
          &:hover {
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          }
        }
      }
      & .ant-list-item-action {
        margin-left: 4.2rem;
        margin-right: 0.6rem;
        span {
          color: #6443f0;
        }
      }
    }
    & .ant-list-item-meta {
      padding: 0 0.6rem;
      &-title {
        font-size: 2rem;
        margin: 0;
        color: #6443f0;
      }

      &.todo-complete {
        filter: grayscale(100%);
      }
    }

    & .task {
      &__group {
        font-size: 1.6rem;
        font-weight: 500;
      }
      &__period {
        font-size: 1.4rem;
        font-weight: 500;

        & svg {
          margin-right: 0.6rem;
        }

        &-date {
          margin-right: 2rem;
        }
      }
    }
  }
}
